In [ ]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
# Graphics in SVG format are more sharp and legible
%config InlineBackend.figure_format = 'svg'
pd.set_option("display.precision", 2)
data = pd.read_csv('titanic_train.csv',
                  index_col='PassengerId')

1

In [ ]:
data['Sex'].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

2

In [ ]:
print(data['Pclass'].value_counts())
print(data.groupby(['Sex', 'Pclass']).size())
print(len(data[data['Pclass'] == 2]))

Pclass
3    491
1    216
2    184
Name: count, dtype: int64
Sex     Pclass
female  1          94
        2          76
        3         144
male    1         122
        2         108
        3         347
dtype: int64
184

3

In [ ]:
print(f"{data['Fare'].median():.2f}")
print(f"{data['Fare'].std():.2f}")

14.45
49.69

4

In [ ]:
print(f"Средний возраст выживших: {data[data['Survived'] == 1]['Age'].mean():.2f}")
print(f"Средний возраст погибших: {data[data['Survived'] == 0]['Age'].mean():.2f}")

Средний возраст выживших: 28.34
Средний возраст погибших: 30.63

5

In [ ]:
print(f"{data[data['Age'] < 30]['Survived'].mean()*100:.1f} среди молодежи")
print(f"{data[data['Age'] > 60]['Survived'].mean()*100:.1f} среди пожилых")

40.6 среди молодежи
22.7 среди пожилых

6

In [ ]:
print(f"{data[data['Sex'] == 'male']['Survived'].mean()*100:.1f} среди мужчин")
print(f"{data[data['Sex'] == 'female']['Survived'].mean()*100:.1f} среди женщин")

18.89 среди мужчин
74.20 среди женщин

7

In [ ]:
males = data[data['Sex']=='male']
males['First_Name'] = males['Name'].str.extract(r'(?:Mr\.|Master\.|Rev\.|Dr\.)\s*([^,]+)')
name_counts = males['First_Name'].value_counts()
print(name_counts.head())

First_Name
John            8
James           7
William         6
Ivan            4
William John    4
Name: count, dtype: int64

/tmp/ipykernel_163413/2538822415.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  males['First_Name'] = males['Name'].str.extract(r'(?:Mr\.|Master\.|Rev\.|Dr\.)\s*([^,]+)')

8

In [ ]:
result=[]
sort = data.groupby(['Sex', 'Pclass'])['Age'].mean()
if(sort['male',1]>40):
    result.append('В среднем мужчины 1 класса старше 40 лет')
if(sort['female',1]>40):
    result.append('В среднем женщины 1 класса старше 40 лет')
q3=False
for pclass in [1, 2, 3]:
    men_age = sort['male', pclass]
    women_age = sort['female', pclass]
    if (men_age>women_age):q3=True

if q3 ==True: result.append('Мужчины всех классов в среднем старше, чем женщины того же класса')

sort2 = data.groupby('Pclass')['Age'].mean()
if sort2[1]>sort2[2]>sort2[3]:
    result.append('В среднем, пассажиры первого класса старше, чем пассажиры 2-го класса, которые старше, чем пассажиры 3-го класса.')
    
for q in result:
    print(q)

В среднем мужчины 1 класса старше 40 лет
Мужчины всех классов в среднем старше, чем женщины того же класса
В среднем, пассажиры первого класса старше, чем пассажиры 2-го класса, которые старше, чем пассажиры 3-го класса.